
.container{
    background-color: blueviolet;
    width: 100%;

}

.container .left{
      width: 50% ;
      float: right;
}
.container .right img{

    width: 50%;
    height: 600;
}

@media (max-width:1400px){
    .container{
        height: 700px;
    }

    .right img{
     height:700px;   
    }
}

@media(max-width:800px){
    .container .left, .right{
        width: 100%
    }
}
